.auth_box {
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_box .default_textbox {
    width: 341px;
}

@media (max-width: 425px) {
    .auth_box .default_textbox{
        width: 300px;
    }
}