* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

body {
    overflow: hidden;
}

#root {
    width: 100%;
    min-height: 100svh;
    background-color: #313131;
    overflow-x: hidden;
}

.base_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button:hover {
    cursor: pointer;
}

.window_main_content {
    width: 100%;
    padding: 14px 79px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #525252;
}

@media (max-width: 768px) {
    .window_main_content {
        padding: 14px 39px;
    }
}

@media (max-width: 425px) {
    .window_main_content {
        padding: 14px 19px;
    }
}