* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

body {
    overflow: hidden;
}

#root {
    width: 100%;
    min-height: 100svh;
    background-color: #313131;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #525252;
}