.project_task_properties__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.project_task_properties__list p {
    text-align: center;
}

.project_task_properties__list__element {
    width: 407px;
    background-color: #414141;
    border-radius: 10px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}

.project_task_properties__list__element p {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project_task_properties__list__element p span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 5px;
}

.project_task_properties__list__element p span.rounded {
    border-radius: 50%;
}

.project_task_properties__list__element .light_button {
    margin-left: auto;
}

.project_task_properties__list__element .red_button {
    margin-left: 8px;
}

.project_task_properties__list__element .default_button {
    height: 32px;
}