.project_task_properties__list {
    max-height: 295px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.project_task_properties__list__element {
    max-width: 100%;
    width: 450px;
    background-color: #414141;
    border-radius: 10px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.project_task_properties__list__element__info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.project_task_properties__list__element__info p {
    font-weight: 500;
    font-size: 14px;
    word-break: break-all;
}

.project_task_properties__list__element__info div {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border-radius: 5px;
}

.project_task_properties__list__element__info div.rounded {
    border-radius: 50%;
}

.project_task_properties__list__element__button {
    display: flex;
    gap: 8px;
}

.project_task_properties__list__element__button .default_button {
    height: 32px;
}

.project_task_properties_manage {
    display: flex;
    flex-direction: column;
}

.project_task_properties_manage__checkbox {
    align-self: center;
}

.project_task_properties_manage__color {
    width: 407px !important;
    height: 139px !important;
    margin: 8px 0;
}

@media (max-height: 391px) {
    .project_task_properties_modal{
        align-self: flex-start;
        height: 100%;
    }
}

@media (max-height: 391px) and (max-width: 490px){
    .project_task_properties_modal{
        border-radius: 0;
    }
}