.default_selection {
    height: 40px;
    padding: 0 18px;
    background-color: #414141;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    gap: 5px;
    box-sizing: border-box;
    white-space: nowrap;
}

.default_selection__select {
    max-width: 100px;
    background: none;
    border: none;
    outline: none;
}

.default_selection__select option {
    background-color: #414141;
}