.messages {
    position: fixed;
    width: 359px;
    max-height: 100svh;
    min-height: 100svh;
    background: #313131;
    z-index: 101;
    margin-left: -359px;
    padding: 14px;
    box-sizing: border-box;
    overflow-y: auto;
}

.show_messages {
    margin-left: 0;
    animation: show_messages_anim backwards 0.5s;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.hide_messages {
    margin-left: -359px;
    animation: hide_messages_anim backwards 0.5s;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0);
}

@keyframes show_messages_anim {
    from {
        margin-left: -359px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0);
    }
    to {
        margin-left: 0;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }
}

@keyframes hide_messages_anim {
    from {
        margin-left: 0;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }
    to {
        margin-left: -359px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0);
    }
}

.messages__header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.messages__header__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 13px;
}

.messages__header__back_button {
    border-radius: 10px;
}

.messages__list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.messages__list__message {
    background-color: #414141;
    border-radius: 10px;
    padding: 11px;
    box-sizing: border-box;
}

.messages__list__message__topic {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.messages__list__message__date {
    font-size: 12px;
    margin-bottom: 10px;
}

.messages__list__message__text {
    font-size: 14px;
}

.messages__list__message__buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.messages__list__message__buttons__button {
    height: 32px;
}

@media (max-width: 425px) {
    .messages {
        width: 100%;
        margin-left: -100%;
    }

    .hide_messages {
        margin-left: -100%;
    }

    .show_messages{
        margin-left: 0;
    }

    @keyframes show_messages_anim {
        from {
            margin-left: -100%;
        }
        to {
            margin-left: 0;
        }
    }

    @keyframes hide_messages_anim {
        from {
            margin-left: 0;
        }
        to {
            margin-left: -100%;
        }
    }
}