.ordering {
    height: 40px;
    background-color: #414141;
    border-radius: 10px;
    padding: 0 15px;
}

.ordering:hover,
.ordering__label:hover {
    cursor: pointer;
}

.ordering,
.ordering__label {
    display: flex;
    align-items: center;
}

.ordering__label {
    gap: 3px;
}

.ordering__checkbox {
    display: none;
}

.ordering__name {
    font-size: 14px;
    font-weight: 500;
}

.ascending {
    transform: rotate(180deg);
}