.project_task_manage_buttons {
    display: flex;
    gap: 13px;
    margin-bottom: 15px;
}

.project_tasks_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project_task_status,
.project_task_priority {
    padding: 2.5px 15px;
    font-size: 14px;
    font-weight: 500;
}

.project_task_status {
    border-radius: 10px;
}

.project_task_priority {
    border-radius: 5px;
}

.project_task_management,
.project_task_management__column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project_task_management__column {
    justify-content: flex-end;
}

.project_task_management {
    max-width: 691px;
}

.project_task_management__inline {
    display: flex;
    gap: 14px;
}

.project_task_management .textbox,
.project_task_management .default_file_picker,
.project_task_management .default_selection {
    width: 100%;
}

.project_task_management .default_selection .default_selection__select {
    max-width: 100%;
    width: 100%;
}

.project_task_management .textarea {
    width: 100%;
    min-height: 106px;
}