.project_task_manage_buttons {
    display: flex;
    gap: 13px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.project_tasks_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project_task_status,
.project_task_priority {
    word-break: break-all;
    padding: 2.5px 15px;
    font-size: 14px;
    font-weight: 500;
}

.project_task_status {
    border-radius: 10px;
}

.project_task_priority {
    border-radius: 5px;
}

.project_task_management,
.project_task_management__column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project_task_management__column {
    justify-content: flex-end;
}

.project_task_management {
    max-width: 691px;
}

.project_task_management__inline {
    display: flex;
    gap: 14px;
}

.project_task_management .textbox,
.project_task_management .default_file_picker,
.project_task_management .default_selection {
    width: 100%;
}

.project_task_management .default_selection .default_selection__select {
    max-width: 100%;
    width: 100%;
}

.project_task_management .textarea {
    width: 100%;
    min-height: 106px;
}

.project_task_files__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project_task_files__list__file {
    display: flex;
    background-color: #414141;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
}

.project_task_files__list__file__info {
    max-width: 300px;
    overflow: hidden;
}

.project_task_files__list__file__info h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project_task_files__list__file__info p {
    font-size: 14px;
    font-weight: 500;
}

.project_task_files__list__file .default_button {
    max-height: 32px;
    margin-left: 8px;
}

.project_task_files__list__file a {
    margin-left: 25px !important;
    display: flex;
    align-items: center;
}

@media (max-width: 655px) {
    .project_task_management__inline{
        flex-wrap: wrap;
        gap: 8px;
    }

    .project_task_management__column{
        width: 100%;
    }
}

@media (max-height: 339px) {
    .project_task_management_modal{
        align-self: flex-start;
    }
}

@media (max-width: 655px) and (max-height: 531px) {
    .project_task_management_modal{
        align-self: flex-start;
        border-radius: 0;
    }
}

@media (max-width: 731px) and (max-height: 339px) {
    .project_task_management_modal{
        border-radius: 0;
    }
}

@media (max-width: 425px) {
    .filters__content .dropdown {
        background-color: #313131;
    }
}