.messanger {
    width: 100%;
    height: 100%;
    justify-items: center;
}

.messanger_background,
.messanger_foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.messanger_background {
    background-image: url("../../assets/images/messanger_backgroud.jpg");
    opacity: 0.25;
    background-size: 280px;
}

.messanger_foreground {
    background-color: black;
    opacity: 0.35;
}

.messanger_box {
    position: relative;
    max-width: 100%;
    width: 720px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messanger_box__header,
.messanger_management__header {
    display: flex;
    align-items: center;
}

.messanger_management__content {
    max-width: 400px;
}

.messanger_management__header {
    gap: 10px;
}

.messanger_box__header,
.messanger_box__footer {
    background-color: #313131;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.messanger_box__header__icon {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    margin: 0 10px;
}

.messanger_management__header__icon {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
}

.messanger_management__header__icon img,
.messanger_box__header__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.messanger_box__header__title {
    margin-right: 30px;
}

.messanger_box__header__title,
.messanger_management__header__title {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.messanger_box__header__button {
    margin-left: auto;
    background: none;
    border: none;
}

.messanger_box__header__back_button {
    background: none;
}

.messanger_box__main,
.messanger_box__main__messages {
    height: 100%;
    overflow: auto;
}

.messanger_box__main {
    padding: 10px 0;
}

.messanger_box__main__messages::-webkit-scrollbar {
    display: none;
}

.messanger_box__main__messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    border-radius: 10px;
}

.messanger_box__footer .textbox,
.messanger_box__footer__textbox {
    width: 100%;
}

.messanger_box__footer .textbox {
    box-sizing: border-box;
}

.messanger_box__footer__send_button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
    justify-content: center;
}

.messanger_box__footer__send_button img {
    transform: rotate(180deg);
}

.messanger_box__footer__main {
    display: flex;
    align-items: center;
    gap: 5px;
}

.messanger_box__footer__files {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 5px;
}

.messanger_box__footer__files__file__button {
    max-width: 200px;
    max-height: 25px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messanger__message_box {
    display: flex;
    max-width: 75%;
    align-items: flex-end;
    gap: 5px;
}

.messanger__message,
.messanger__message__info {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.messanger__message__info {
    align-items: flex-end;
    justify-content: space-between;
}

.messanger__message {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
}

.messanger__message__info__text {
    word-break: break-word;
    white-space: pre-wrap;
}

.messanger__message_box.left_message {
    align-self: flex-start;
}

.messanger__message_box.right_message {
    align-self: flex-end;
}

.messanger__message_box.left_message .messanger__message {
    background-color: #414141;
    justify-content: flex-start;
}

.messanger__message_box.right_message .messanger__message {
    background-color: #3777A0;
    justify-content: flex-end;
}

.messanger__message_box.right_message {
    flex-direction: row-reverse;
}

.messanger__message_box__user_href,
.messanger__message_box__user_icon {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.messanger__message_box__manage_button {
    opacity: 0;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    transition-duration: 0.5s;
}

.messanger__message_box__manage_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messanger__message_box:hover .messanger__message_box__manage_button {
    opacity: 1;
}

.messanger__message__info__date {
    font-size: 14px;
    opacity: 0.65;
}

.messanger__message__images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2.5px), 1fr));
    gap: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.messanger__message__images img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.messanger__message__images:has(img:only-child) {
    grid-template-columns: 1fr;
}

.messanger__message__images img:last-child:nth-child(odd) {
    grid-column: 1 / -1;
}

.messanger__message__images img:hover {
    cursor: pointer;
}

.messanger__message__files {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.messanger__message__files__file {
    min-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.messanger__message_box.right_message .messanger__message .messanger__message__files__file {
    background-color: #2e6283;
}

.messanger__message_box.left_message .messanger__message .messanger__message__files__file {
    background-color: #525252;
    flex-direction: row-reverse;
}

.messanger__message__files__file a {
    display: block;
    width: 100%;
    height: 100%;
    word-break: break-word;
}

.messanger__message__files__file__button {
    width: 0;
    height: 30px;
    overflow: hidden;
    padding: 0;
}

.messanger__message__files__file:hover .messanger__message__files__file__button {
    width: 100px;
}

.messanger_image_watcher__image {
    max-width: 100%;
    max-height: 85svh;
    border-radius: 10px;
    object-fit: contain;
}

.messanger_image_watcher {
    align-self: flex-start;
    width: 100%;
    min-height: 100%;
    border-radius: 0;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messanger_image_watcher__content {
    display: flex;
    justify-content: center;
}

.messanger_image_watcher__download {
    display: flex;
    align-items: center;
}

.messanger_management__members {
    max-height: 400px;
    max-width: 500px;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

.messanger_management__members::-webkit-scrollbar {
    display: none;
}

.messanger_management__members__member {
    width: 100%;
    background-color: #414141;
    border-radius: 10px;
    justify-content: space-between;
    gap: 10px;
    padding: 7px;
    box-sizing: border-box;
}

.messanger_management__members__member,
.messanger_management__members__member__info,
.messanger_management__members {
    display: flex;
    align-items: center;
}

.messanger_management__members__member__info {
    overflow: hidden;
    gap: 10px;
}

.messanger_management__members__member__info p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.messanger_management__members__member__photo img {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1280px) {
    .messanger__message__files__file {
        flex-wrap: wrap;
    }

    .messanger__message__files__file__button {
        width: 100%;
    }

    .messanger__message__files__file:hover .messanger__message__files__file__button {
        width: 100%;
    }
}