.profile {
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 34px;
}

.profile__info,
.profile__info__other,
.profile_edit_modal__left_side,
.profile_edit_modal__right_side,
.profile_modal_content {
    display: flex;
    flex-direction: column;
}

.profile__info {
    gap: 17px;
}

.profile__info__other {
    gap: 12px;
}

.profile__info__name,
.profile__info__description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.profile__info__name {
    font-size: 24px;
    font-weight: 800;
    -webkit-line-clamp: 2;
}

.profile__info__description {
    max-width: 713px;
    -webkit-line-clamp: 4;
}

.profile_content__filter {
    max-width: 341px;
}

.profile_edit_modal {
    width: 100%;
    display: flex;
    gap: 15px;
}

.profile_edit_modal__left_side,
.profile_edit_modal__right_side {
    gap: 8px;
    justify-content: flex-end;
}

.profile_edit_modal__left_side {
    width: 247px;
}

.profile_edit_modal__right_side {
    width: 449px;
}

.profile_edit_modal__right_side__inline {
    display: flex;
    gap: 9px;
    align-items: flex-end;
}

.profile_edit_modal__description {
    width: 100%;
    min-height: 106px;
    margin-top: 18px;
    margin-bottom: 8px;
}

.profile_edit_modal__left_side__file {
    min-height: 111px;
}

.profile_modal_content {
    align-items: center;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile__info__description {
        -webkit-line-clamp: 10;
    }
}

@media (max-width: 515px) {
    .profile_edit_modal__left_side,
    .profile_edit_modal__right_side {
        width: 100%;
    }

    .profile_edit_modal {
        flex-direction: column;
    }
}

@media (max-height: 501px) {
    .profile_modal {
        align-self: flex-start;
    }
}

@media (max-width: 751px) {
    .profile_modal {
        width: 100%;
    }
}

@media (max-width: 751px) and (max-height: 501px) {
    .profile_modal {
        border-radius: 0 !important;
    }
}

@media (max-width: 515px) and (max-height: 738px) {
    .profile_modal {
        align-self: flex-start !important;
        border-radius: 0 !important;
    }
}

@media (max-width: 425px) {
    .profile_edit_modal__right_side__inline {
        flex-direction: column;
    }

    .profile_edit_modal__right_side__inline .textbox {
        width: 100%;
    }
}

@media (max-width: 425px) and (max-height: 820px) {
    .profile_modal{
        align-self: flex-start !important;
        border-radius: 0 !important;
    }
}