.list_element {
    padding: 17px 14px;
    background-color: #414141;
    border-radius: 10px;
}

.list_element.light_list_element {
    background-color: #525252;
}

.list_element__header,
.list_element__header__info,
.list_element__details__summary,
.list_element__details__summary__icon {
    display: flex;
    align-items: center;
}

.list_element__header__info {
    gap: 7px;
}

.list_element__header {
    gap: 17px;
    flex-wrap: wrap;
}

.list_element__header__info__icon {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}

.list_element__header__info__icon.round {
    border-radius: 50%;
    overflow: hidden;
}

.list_element__header__info__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list_element__header__text {
    font-size: 14px;
    font-weight: 500;
}

.list_element__header__text__important {
    color: #3777A0;
}

.list_element__description {
    margin-top: 14px;
}

.list_element__details {
    margin-top: 14px;
}

.list_element__details__summary {
    font-weight: 800;
    gap: 8px;
}

.list_element__details__summary:hover {
    cursor: pointer;
}

.list_element__details[open] .list_element__details__summary__icon {
    transform: rotate(90deg);
}

.list_element__details .base_list {
    padding-top: 8px;
    padding-left: 32px;
}

@media (max-width: 768px) {
    .list_element__details .base_list {
        padding-left: 0;
    }
}